/*Start Footer*/
footer{
    background-color: var(--color-verde);
    grid-area: footer;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 30px;
}

.redes a img{
    height: 10%;
    width: 10%;
}
.redes li{
    list-style: none; 
}


.info{
    font-family: 'Nunito', sans-serif;
    color: var(--color-blanco);
    list-style: none;
}
/*media query max 768*/ 
@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
    .redes a img {
        width: 100%;
        max-width: 60px;
    }
    
}
/* End Footer */